In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('general_store_sample_data.csv')

In [3]:
df

       product_group country  year      revenue
0         automobile      BR  2012  206937.3265
1         automobile      BR  2013  199547.3868
2         automobile      CA  2013  197965.0168
3         automobile      CA  2012  197552.3251
4         automobile      CL  2013  197857.0241
..               ...     ...   ...          ...
175  office supplies      US  2014  207829.1326
176  office supplies      US  2014  198895.8293
177  office supplies      ZH  2012  189211.7817
178  office supplies      ZA  2014  214117.7205
179  office supplies      ZH  2014  199955.8500

[180 rows x 4 columns]

Looking at only the United States, France, and Spain, what was the median revenue in 2013? (Taking the three countries together in aggregate)

In [12]:
df.query("country == ['US', 'FR','ES']" )

       product_group country  year        revenue
7         automobile      FR  2013  190734.681500
8         automobile      FR  2013  197659.861900
10        automobile      FR  2013  197206.029500
12        automobile      ES  2012  200855.769700
13        automobile      ES  2012  193957.392700
14        automobile      ES  2012  195584.845000
23        automobile      US  2014  201789.701400
25        automobile      US  2014  198326.241100
26        automobile      US  2014  204902.791100
37          clothing      FR  2013    1873.328854
38          clothing      FR  2013    3346.136628
40          clothing      FR  2013    1241.063181
42          clothing      ES  2012    1081.705380
43          clothing      ES  2012    3112.439556
44          clothing      ES  2012     912.813255
53          clothing      US  2014    1865.099225
55          clothing      US  2014    1926.057675
56          clothing      US  2014    1491.881474
67       electronics      FR  2013   20352.772350
68       electronics      FR  2013   19615.283430
70       electronics      FR  2013   19475.636710
72       electronics      ES  2012   19505.467480
73       electronics      ES  2012   20348.102660
74       electronics      ES  2012   19643.281250
83       electronics      US  2014   20175.308820
85       electronics      US  2014   19824.931550
86       electronics      US  2014   19250.153820
97         furniture      FR  2013   21392.753660
98         furniture      FR  2013   19032.585920
100        furniture      FR  2013   20349.478670
102        furniture      ES  2012   19799.618150
103        furniture      ES  2012   20932.974240
104        furniture      ES  2012   19095.477780
113        furniture      US  2014   19864.197320
115        furniture      US  2014   20146.534820
116        furniture      US  2014   19907.135080
127        groceries      FR  2013  238991.336700
128        groceries      FR  2013  223017.380300
130        groceries      FR  2013  189053.434400
132        groceries      ES  2012  147368.003400
133        groceries      ES  2012  203526.211400
134        groceries      ES  2012  194360.714400
143        groceries      US  2014  208650.102100
145        groceries      US  2014  167057.544500
146        groceries      US  2014  213302.745600
157  office supplies      FR  2013  201274.506400
158  office supplies      FR  2013  209669.100700
160  office supplies      FR  2013  206302.306200
162  office supplies      ES  2012  206106.330000
163  office supplies      ES  2012  191076.730500
164  office supplies      ES  2012  204295.843000
173  office supplies      US  2014  207157.982000
175  office supplies      US  2014  207829.132600
176  office supplies      US  2014  198895.829300

Was it more or less than 2012?

What drove that difference?

Looking now at all countries, which product group had the biggest decline in median revenue from 2013 to 2014, by dollar amount?

Looking now at all countries, which product group had the biggest decline in median revenue from 2013 to 2014, by percent change?