In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('general_store_sample_data.csv')

In [3]:
df

       product_group country  year      revenue
0         automobile      BR  2012  206937.3265
1         automobile      BR  2013  199547.3868
2         automobile      CA  2013  197965.0168
3         automobile      CA  2012  197552.3251
4         automobile      CL  2013  197857.0241
..               ...     ...   ...          ...
175  office supplies      US  2014  207829.1326
176  office supplies      US  2014  198895.8293
177  office supplies      ZH  2012  189211.7817
178  office supplies      ZA  2014  214117.7205
179  office supplies      ZH  2014  199955.8500

[180 rows x 4 columns]

Looking at only the United States, France, and Spain, what was the median revenue in 2013? (Taking the three countries together in aggregate)

In [13]:
df.query("country == ['US', 'FR','ES'] & year == '2013'")

       product_group country  year        revenue
7         automobile      FR  2013  190734.681500
8         automobile      FR  2013  197659.861900
10        automobile      FR  2013  197206.029500
37          clothing      FR  2013    1873.328854
38          clothing      FR  2013    3346.136628
40          clothing      FR  2013    1241.063181
67       electronics      FR  2013   20352.772350
68       electronics      FR  2013   19615.283430
70       electronics      FR  2013   19475.636710
97         furniture      FR  2013   21392.753660
98         furniture      FR  2013   19032.585920
100        furniture      FR  2013   20349.478670
127        groceries      FR  2013  238991.336700
128        groceries      FR  2013  223017.380300
130        groceries      FR  2013  189053.434400
157  office supplies      FR  2013  201274.506400
158  office supplies      FR  2013  209669.100700
160  office supplies      FR  2013  206302.306200

In [16]:
df.query("country == ['US', 'FR','ES'] & year == '2013'").median()

year         2013.00000
revenue    105223.09403
dtype: float64

In [19]:
# Final answer 
rev_2013 = df.query("country == ['US', 'FR','ES'] & year == '2013'").revenue.median()
print(rev_2013

105223.09403

Was it more or less than 2012?

In [20]:
rev_2012 = df.query("country == ['US', 'FR','ES'] & year == '2012'").revenue.median()
rev_2012

84150.48882

In [24]:
# Final answer 
if rev_2013 > rev_2012:
    print(f'Revenue in 2013 was more then in 2012 by ${rev_2013 - rev_2012}')
else:
    print(f'Revenue in 2012 was more then in 2013 by ${rev_2012 - rev_2013}')

Revenue in 2013 was more then in 2012 by $21072.605209999994

What drove that difference?

Looking now at all countries, which product group had the biggest decline in median revenue from 2013 to 2014, by dollar amount?

Looking now at all countries, which product group had the biggest decline in median revenue from 2013 to 2014, by percent change?