In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('general_store_sample_data.csv')

In [14]:
df

       product_group country  year      revenue
0         automobile      BR  2012  206937.3265
1         automobile      BR  2013  199547.3868
2         automobile      CA  2013  197965.0168
3         automobile      CA  2012  197552.3251
4         automobile      CL  2013  197857.0241
..               ...     ...   ...          ...
175  office supplies      US  2014  207829.1326
176  office supplies      US  2014  198895.8293
177  office supplies      ZH  2012  189211.7817
178  office supplies      ZA  2014  214117.7205
179  office supplies      ZH  2014  199955.8500

[180 rows x 4 columns]

In [13]:
data

Looking at only the United States, France, and Spain, what was the median revenue in 2013? (Taking the three countries together in aggregate)

Was it more or less than 2012?

What drove that difference?

Looking now at all countries, which product group had the biggest decline in median revenue from 2013 to 2014, by dollar amount?

Looking now at all countries, which product group had the biggest decline in median revenue from 2013 to 2014, by percent change?