In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('general_store_sample_data.csv')

In [3]:
df

       product_group country  year      revenue
0         automobile      BR  2012  206937.3265
1         automobile      BR  2013  199547.3868
2         automobile      CA  2013  197965.0168
3         automobile      CA  2012  197552.3251
4         automobile      CL  2013  197857.0241
..               ...     ...   ...          ...
175  office supplies      US  2014  207829.1326
176  office supplies      US  2014  198895.8293
177  office supplies      ZH  2012  189211.7817
178  office supplies      ZA  2014  214117.7205
179  office supplies      ZH  2014  199955.8500

[180 rows x 4 columns]

# Looking at only the United States, France, and Spain, what was the median revenue in 2013? (Taking the three countries together in aggregate)

In [4]:
df.query("country == ['US', 'FR','ES'] & year == '2013'")

       product_group country  year        revenue
7         automobile      FR  2013  190734.681500
8         automobile      FR  2013  197659.861900
10        automobile      FR  2013  197206.029500
37          clothing      FR  2013    1873.328854
38          clothing      FR  2013    3346.136628
40          clothing      FR  2013    1241.063181
67       electronics      FR  2013   20352.772350
68       electronics      FR  2013   19615.283430
70       electronics      FR  2013   19475.636710
97         furniture      FR  2013   21392.753660
98         furniture      FR  2013   19032.585920
100        furniture      FR  2013   20349.478670
127        groceries      FR  2013  238991.336700
128        groceries      FR  2013  223017.380300
130        groceries      FR  2013  189053.434400
157  office supplies      FR  2013  201274.506400
158  office supplies      FR  2013  209669.100700
160  office supplies      FR  2013  206302.306200

In [5]:
df.query("country == ['US', 'FR','ES'] & year == '2013'").median()

year         2013.00000
revenue    105223.09403
dtype: float64

In [6]:
# Final answer 
rev_2013 = df.query("country == ['US', 'FR','ES'] & year == '2013'").revenue.median()
print(f'The median revenue in 2013, looking at only the countries United States, France, and Spain is {rev_2013}')

The median revenue in 2013, looking at only the countries United States, France, and Spain is 105223.09403

# Was it more or less than 2012?

In [7]:
rev_2012 = df.query("country == ['US', 'FR','ES'] & year == '2012'").revenue.median()
rev_2012

84150.48882

In [8]:
# Final answer 
if rev_2013 > rev_2012:
    print(f'Revenue in 2013 was more then in 2012 by ${round(rev_2013 - rev_2012, 2)}')
elif rev_2013 < rev_2012:
    print(f'Revenue in 2012 was more then in 2013 by ${round(rev_2012 - rev_2013, 2)}')
else:
    print(f'Revenue in 2013 and in 2013 were the same')

Revenue in 2013 was more then in 2012 by $21072.61

# What drove that difference?

In [9]:
# Test
rev_auto_2012 = df.query("country == ['US', 'FR','ES'] & product_group == 'automobile' & year == '2012'").revenue.median()
rev_auto_2013 = df.query("country == ['US', 'FR','ES'] & product_group == 'automobile' & year == '2013'").revenue.median()
rev_auto_2013 - rev_auto_2012

1621.184500000003

In [10]:
rev_USFRES_group_2012 = df.query("country == ['US', 'FR','ES'] & year == '2012'").groupby('product_group').revenue.median()
rev_USFRES_group_2013 = df.query("country == ['US', 'FR','ES'] & year == '2013'").groupby('product_group').revenue.median()
rev_USFRES_diff = rev_USFRES_group_2013 - rev_USFRES_group_2012

In [11]:
rev_USFRES_diff

product_group
automobile          1621.184500
clothing             791.623474
electronics          -27.997820
furniture            549.860520
groceries          28656.665900
office supplies     2006.463200
Name: revenue, dtype: float64

In [12]:
rev_USFRES_diff.max()

28656.665899999993

Looks like the product group "Groceries" was the major contributing factor in the difference in median revenue between 2013 and 2012

# Looking now at all countries, which product group had the biggest decline in median revenue from 2013 to 2014, by dollar amount?

In [13]:
rev_group_2014 = df.query("year == '2014'").groupby('product_group').revenue.median()
rev_group_2013 = df.query("year == '2013'").groupby('product_group').revenue.median()
rev_diff = rev_group_2014 - rev_group_2013
rev_diff

product_group
automobile          1536.454400
clothing               8.282795
electronics         -221.344480
furniture            145.453235
groceries         -13617.571950
office supplies    -2027.477350
Name: revenue, dtype: float64

In [14]:
rev_diff.min()

-13617.571949999983

Looks like the product group "Groceries" had the largest decline in median revenue between 2014 and 2013

# Looking now at all countries, which product group had the biggest decline in median revenue from 2013 to 2014, by percent change?

In [16]:
rev_diff.pct_change()

product_group
automobile               NaN
clothing           -0.994609
electronics       -27.723404
furniture          -1.657135
groceries         -94.621651
office supplies    -0.851113
Name: revenue, dtype: float64

In [17]:
rev_diff.pct_change().min()

-94.62165062880797

Looks like the product group "Groceries" had the largest decline, by percent change, in median revenue between 2014 and 2013

In [28]:
# Pivot table to show median revenue by year and product_group
df.pivot_table(index=['year','product_group'],values=['revenue'],aggfunc='median')

                            revenue
year product_group
2012 automobile       199204.047400
     clothing           1897.068511
     electronics       19769.343690
     furniture         20175.898725
     groceries        193936.293450
     office supplies  200286.673500
2013 automobile       197758.443000
     clothing           1887.295655
     electronics       19973.113935
     furniture         20037.202215
     groceries        218415.446700
     office supplies  201453.317000
2014 automobile       199294.897400
     clothing           1895.578450
     electronics       19751.769455
     furniture         20182.655450
     groceries        204797.874750
     office supplies  199425.839650